<ion-header [translucent]="true">
  <ion-menu side="start" menuId="first" contentId="main"></ion-menu>
    <ion-toolbar>
  
      <ion-title>
        HOME
      </ion-title>
    </ion-toolbar>   
    <ion-searchbar>   
    </ion-searchbar>
  
  
    <ion-toolbar>
      Mot suivant (Agénesis) >
    </ion-toolbar>
  
    <ion-toolbar><B>AGENDA</B><h1>  Autorité de microactes perdus ou à trouver</h1></ion-toolbar>
  <ion-toolbar>
  
    <ion-img src="..\src\assets\img\livre.jpg" ></ion-img>
  
  </ion-toolbar>
  
  
  </ion-header>
  <ion-toolbar>
    <div>
  
    </div>
    <ion-title>
      
      Accueil
    </ion-title>
  </ion-toolbar>
  <ion-content [fullscreen]="true">
  
   
  </ion-content>
  